<!DOCTYPE html>
<html lang="ko">

{% extends 'base.html' %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>질문 양식</title>
</head>
<body>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<div class="container my-3">
    <h4 class="my-3 border-bottom">질문 등록</h4>
    <form method="post" class="'post-form)">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-btn-py">저장하기</button>
    </form>
</div>

{% endblock %}

</body>
</html>